{% extends "basefront.html.twig" %}
{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left" scope="col">VILLE</th>
                <th class="text-left" scope="col">PAYS</th>
                <th class="text-end" scope="col">NOTE</th>
                <th class="text-center" scope="col">DATE</th>

            </tr>
        </thead>
        <tbody>
            {% for variable in cleVisite %}
                <tr>
                    <td>
                        <h5 class="text-primary">
                            <a href="#">{{variable.ville}}
                        </h5>
                    </td>
                    <td>
                        {{ variable.pays }}
                    </td>
                    <td class="text-end">
                        <strong>{{ variable.note }}/20</strong>
                    </td>
                    <td class ="text-center">
                        {{ variable.datecreationstring }}
                    </td>
                </tr>
            {% endfor %}    
        </tbody>
    </table>


{% endblock %}
